{% extends "layout" %}

{% block content %}
<table class="table">
	<tr>
	    <th colspan="2">
			<h2>{{ contact.name }} - {{ contact.category.name }}</h2>
		</th>
	</tr>
	<tr>
        <td>Email:</td>
        <td><p>{{ contact.email }}</p></td>
	</tr>	
    <tr>
        <td>Telefon:</td>
        <td><p>{{ contact.phone }}</p></td>
	</tr>
    <tr>
        <td>Szolgáltatási terület:</td>
        <td><p>{{ contact.area }}</p></td>
	</tr>
    <tr>
        <td>Elérhető:</td>
        <td><p>{{ contact.avaiable }} asdsadsa</p></td>
	</tr>
    <tr>
        <td><button type="submit" class="btn btn-primary"><a href="/contacts/{{ contact.id }}/favourite">Kedvencekhez adás</a></button></td>
        <td></td>
    </tr>
    <tr>
		<th colspan="2">
			<h2>Kommentek</h2>
	    </th>
	</tr>
    {% for com in comment %}
        {% if com.contact_id == contact.id %}
            <p>{{ com.contact_id }} - {{ contact.id }}</p>
            <tr>
                <td>{{ com.user_id }}</td>
                <td>{{ com.comment }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    {% if currentUser.id != 0 %}
    <tr>
        <td colspan="2">
            <p>Új komment</p>
        </td>
    </tr>
    <tr>
        <td colspan="2"><textarea name="comment" id="comment" class="form-control" rows="3" id="textArea"></textarea></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="reset" class="btn btn-default"><a href="/">Vissza</a></button>
            <button type="submit" class="btn btn-primary"><a href="/contacts/{{ contact.id }}/comment">Komment küldése</a></button>
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}